<h1>StaticPages#home</h1>
<p>
    1.目的明示：怪我予防とパフォーマンスアップを目的作成されたサイト
    　考え方明示：柔軟性を測るときの姿勢により自身が使えている筋肉とそうでない筋肉を明確化し
    　必要な運動（柔軟体操と動きを理解）を理解することでパフォーマンスアップを狙う
    2.柔軟性、スポーツ競技、総合動画閲覧、マイページへのアクセス作成
    Find me in app/views/static_pages/home.html.erb
</p>

<div class="center jumbotron">
  

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>