<header class="navber navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Orchestra app", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", '#' %></li>
          <li><%= link_to "Introduction", '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
</header>